<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk2102.mapper.RelicsMapper">

    <!--条件查询-->
    <select id="list" resultType="com.jk2102.pojo.Relics">
        select *
        from museum.museum
        <where>
            <if test="name != null and name != ''">
                name like concat('%', #{name}, '%')
            </if>
            <if test="category != null">
                and category like concat('%', #{category}, '%')
            </if>
            <if test="era != null">
                and era like concat('%', #{era}, '%')
            </if>
        </where>
    </select>

</mapper>